*{
    font-family: "Arial Narrow", Arial, sans-serif;
}

h1{
    text-align: center;
}

.align-center{
    display: flex;
    justify-content: center;
}

.text-gray {
    color: #868789;
}

.container-form{
    padding: 2rem 0;
    width: 80%;
    margin: auto;
}

.btn{
    background-color: #FE8910;
    color: white;
    padding: 5px;
    border: none;
    border-radius: 0;
    width: 50%;
    margin: 0.6rem 0 1.5rem 0;
    justify-content: center;
    margin-bottom: 1rem;
    border-radius: 15px;
}

.btn:hover{
    color: #f7f7f7;
    background-color: #868789;
}

.btn-form{
    width: 100%;
    padding: 1rem;
    
}

.form input, select,textarea{
    color: #1a1a1a;
    width: 100%;
    background-color: rgba(102, 102, 102, 0.25);
    border: none;
    padding: 0.6rem;
    margin-bottom: 1rem;
    border-radius: 15px;
}

textarea{
    resize: none;
}

.form select{
    color: #868789;
    text-align: center;
    border-radius: 15px;
}

.form .inputs{
    width: 48%;
}
.h-coment{
    height: 10rem;
}

.checkbox[type=checkbox]{
    transform: scale(2);
}

.title-button{
    display: flex;
    justify-content: space-around;
}

/*table*/
th{
    background-color: #FE8910;
    color: white;
    font-weight: normal;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: transparent!important;
}

.table-striped>tbody>tr:nth-of-type(odd)>* {
    --bs-table-accent-bg: transparent!important;
}

.w-10{
    width: 10%;
}

table.table {
    background-color: rgba(102, 102, 102, 0.25);
    width: 100%;
    text-align: center;

}

.width-1{
    width: 10%;
}

.rol-box{
    color: #f7f7f7;
    background-color: #868789;
    border-radius: 15px;
}

table.table td, table.table th {
    border: 0px solid;
    padding-right: 2rem;
}
.form-select{
    background-color: rgba(102, 102, 102, 0);
    border: none;
    color: #868789;
}

.button-list{
    border: none;
    background: none;
}

.img-list{
    filter: brightness(0) saturate(100%) invert(49%) sepia(98%) saturate(731%) hue-rotate(352deg) brightness(103%) contrast(99%);
}

.img-list{
    width: 2rem;
}

.pagination{
    padding-top: 1rem;
}

ngb-pagination ::ng-deep .page-item.disabled ::ng-deep .page-link {
    color: #6c757d;
    cursor: pointer;
    background-color: transparent;
    border-color: transparent;
}

ngb-pagination ::ng-deep .page-item ::ng-deep .page-link {
    color: #6c757d;
    cursor: pointer;
    background-color: transparent;
    border-color: transparent;
}

ngb-pagination ::ng-deep .page-item.active ::ng-deep .page-link {
    border-radius: 50%;
    background-color: #f7f7f7;
    color: #6c757d;
    border: none;
}

@media(max-width: 1023px) {
    table {
        display: block;
        overflow-x: auto;
    }
    .title-button{
        flex-direction: column;
    }
    .btn{
        width: 100%;
    }
}

@media(max-width:767px) {
    .container-form{
        width: 90%;
        
    }
    .title-button{
        flex-direction: column;
    }
    .btn{
        width: 100%;
        margin: 3% auto;
    }
    .form{
        width: 100%;
    }
    .contrato{
        flex-direction: column;
    }
    .form .inputs{
        width: 100%;
    }
}