<!-- Footer -->
<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class=" col-lg-6 col-sm-6 text-left">
          <img
            src="../../../../assets/imgs/logofondo.png"
            alt=""
            width="80px"
          />
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, fuga
            deleniti, quam itaque corporis, eius nisi optio soluta accusantium
            blanditiis saepe.
          </p>
        </div>
        <!--Grid column-->

        <div class="col-lg-6 col-sm-6 mb-md-0 d-flex">
          <div class="col-6">
            <h5 class="text-uppercase text-underline text-seccion text-left">
              SECCIONES
            </h5>
            <ul class="list-unstyled container-flex text-left">
              <li>
                <a href="#!" class="text-white">NOSOTROS</a>
              </li>
              <li>
                <a href="#!" class="text-white">EQUIPO</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-6">
            <!-- Section: Social media -->
            <h5 class="text-uppercase text-underline text-seccion margin-bottom">
              REDES SOCIALES
            </h5>
            <section class="mb-4 space-around">
              <!-- Facebook -->
              <a class="btn btn-floating m-1 btn-gris p-1" href="#!" role="button"
                ><i class="fa fa-facebook"></i
              ></a>
  
              <!-- Twitter -->
              <a class="btn btn-floating m-1 btn-gris p-1" href="#!" role="button">
                <i class="fa fa-twitter"></i
              ></a>
  
              <!-- Instagram -->
              <a class="btn btn-floating m-1 btn-gris p-1" href="#!" role="button"
                ><i class="fa fa-instagram"></i
              ></a>
            </section>
            <!-- Section: Social media -->
          </div>
          <!--Grid column-->
        </div>
        <!--Grid column-->
        
      </div>
      <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: #868789">
    Copyright © 2020 all rights reserved.
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
