<div class="content d-flex justify-content-start align-items-center">
    <div class="w-60 d-flex justify-content-center align-items-">
        <div class="d-flex flex-column w-60">
            <h1 class="title pb-10">
                Luis Fernando Castro <br> Majé abogados S.A.S
            </h1>
            <p class="pb-10">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse libero justo, pellentesque nec
                dignissim egestas, fermentum non dolor. Suspendisse eleifend nisl nunc, et consequat tortor volutpat
                facilisis.
            </p>
            <button class="btn btn-principal" (click)="openForm()">Comienza Ya</button>
        </div>
    </div>
    <img class="img_logo" src="../../../assets/imgs/logofondo.png" alt="">
</div>
<div class="main_box">
    <div class="second_box slide"></div>
</div>