* {
    font-family: "Arial Narrow", Arial, sans-serif;
}

h1 {
    text-align: center;
}

.align-center {
    display: flex;
    justify-content: center;
}

.text-gray {
    color: #868789;
}

.container-form {
    padding: 2rem 0;
    width: 70%;
    margin: auto;
}

.btn {
    background-color: #FE8910;
    color: white;
    padding: 5px;
    border: none;
    border-radius: 0;
    width: 65%;
    margin: 0.6rem 0 1.5rem 0;
    justify-content: center;
    margin-bottom: 1rem;
    border-radius: 15px;
}

.btn:hover {
    color: #f7f7f7;
    background-color: #868789;
}

.btn-form {
    width: 100%;
    padding: 1rem;

}

.form input,
select,
textarea {
    color: #1a1a1a;
    width: 100%;
    background-color: rgba(102, 102, 102, 0.25);
    border: none;
    padding: 0.6rem;
    margin-bottom: 1rem;
    border-radius: 15px;
}

.ng-autocomplete ::ng-deep .autocomplete-container ::ng-deep .input-container ::ng-deep input {
    color: #1a1a1a;
    width: 100%;
    background-color: rgba(102, 102, 102, 0.25);
    border: none;
    padding: 0.6rem;
    border-radius: 15px;
}

.ng-autocomplete ::ng-deep .autocomplete-container{
    box-shadow: none;
}

textarea {
    resize: none;
}

.form select {
    color: #868789;
    text-align: center;
    border-radius: 15px;
}

.form .inputs {
    width: 48%;
}

.h-coment {
    height: 10rem;
}

.checkbox[type=checkbox] {
    transform: scale(2);
}

/*Search Inputs*/
.search input {
    color: #1a1a1a;
    width: 20rem;
    background-color: #f7f7f7;
    border: 2px solid #868789;
    padding: 0.6rem;
    margin-bottom: 1rem;
    border-radius: 15px;
}

.search input::placeholder {
    text-align: center;
}

/*Drop*/
.dropzone{
    width: 100%;
    height: 100%;
    padding: 4rem;
    text-align: center;
    border: dashed 5px #868789;
    position: relative;
    margin: 0 auto;
}

.dropzone input{
    opacity: 0;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.dropzone label{
    color: #f7f7f7;
    width: 90%;
    background-color: #FE8910;
    padding: 0 16px;
    border-radius: 15px;
}

.dropzone h3{
    font-size: 20px;
    font-weight: 600;
    color: #868789;
}
/*file list*/
.fileover {
    animation: shake 1s;
    animation-iteration-count: infinite;
}

.files-list {
    margin-top: 1.5rem;
    display: flex;
    flex-grow: 1;
}

.single-file {
    display: flex;
    padding: 0.5rem;
    justify-content: space-between;
    align-items: center;
    border: dashed 1px #979797;
    margin-bottom: 1rem;
}

img.delete {
    margin-left: 0.5rem;
    cursor: pointer;
    align-self: flex-end;
}

.name {
    font-size: 14px;
    font-weight: 500;
    color: #353f4a;
    margin: 0;
}

.size {
    font-size: 12px;
    font-weight: 500;
    color: #a4a4a4;
    margin: 0;
    margin-bottom: 0.25rem;
}

.info {
    width: 100%
}

@media(max-width: 1023px) {
    .container-form{
        width: 70%;
    }
    .btn{
        width: 100%;
    }
    .form{
        width: 100%;
    }
}

@media(max-width: 767px) {
    .container-form{
        width: 80%;
    }
    .btn{
        width: 100%;
    }
    .form{
        width: 100%;
    }
}