<div class="container-form">
  <h2 class="d-flex justify-content-center">
    REGISTRAR ACTUACIONES DEL PROCESO
  </h2>
  <form class="form" [formGroup]="form">
    <div class="align-center row justify-content-center">
      <div class="col-lg-6 col-sm-12">
        <label class="text-gray" for="Actuacion">Numero Proceso</label>
        <ng-autocomplete
          #countryList
          formControlName="locationCountry"
          [data]="procesos"
          min-length="1"
          [searchKeyword]="countrykeyword"
          (selected)="selectEventCountry($event); onLocationSubmit()"
          (inputCleared)="onCountryCleared($event, false)"
          [itemTemplate]="countryListTemplate"
          [notFoundTemplate]="notFoundTemplate"
          placeholder="Digite el numero de proceso"
          (keyup)="filtrarNumeroRadicado($event)"
        >
        </ng-autocomplete>

        <ng-template #countryListTemplate let-item>
          <a [innerHTML]="item.numeroProceso"></a>
        </ng-template>

        <ng-template #notFoundTemplate let-notFound>
          <div [innerHTML]="notFound"></div>
        </ng-template>
      </div>

      <div class="col-lg-6 col-sm-12">
        <label class="text-gray" for="Actuacion">Actuacion</label>
        <input
          type="text"
          name="Actuacion"
          required
          formControlName="actuacion"
        />
      </div>

      <label class="text-gray" for="Anotacion">Anotacion</label>
      <textarea
        class="h-coment"
        type="text"
        name="Anotacion"
        cols="40"
        rows="5"
        required
        formControlName="anotacion"
      ></textarea>

      <label class="text-gray" for="clientes">Subir Contrato</label>
      <div
        class="dropzone align-items-center fileover"
        appDnd
        (fileDropped)="onFileDropped($event)"
      >
        <input
          type="file"
          #fileDropRef
          id="fileDropRef"
          (change)="fileBrowseHandler($event.target.files)"
        />
        <h3>Drag and drop file Here to Upload</h3>
        <label for="fileDropRef">Or Select Files to Upload</label>
      </div>

      <div class="files-list">
        <div class="single-file" *ngFor="let file of files; let i = index">
          <img src="assets/imgs/ic-file.svg" width="45px" alt="file" />
          <div class="info">
            <h4 class="name">
              {{ file?.name }}
            </h4>
            <p class="size">
              {{ formatBytes(file?.size) }}
            </p>
          </div>
          <img
            src="assets/imgs/ic-delete-file.svg"
            class="delete"
            width="20px"
            alt="file"
            (click)="deleteFile(i)"
          />
        </div>
      </div>

      <button type="submit" class="btn btn-form" (click)="clickEnviar()">
        Guardar Registro
      </button>
    </div>
  </form>
</div>
